table,
th,
td,
tr {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}
th {
	text-align: left;
}
body {
	background-image: url("hexellence.png");
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: #111;
}
iframe {
	float: right;
}
